
:root {
  --size:20vh;
  --doublesize:40vh;
}
body{
  height:100vh;
  overflow:hidden;
}
#tv{
  transform:translate(-1%,-1%);
  width:101vw;
  overflow:hidden;
  position:fixed;
  z-index:-1;
}

#robotcam{
transform:translate(-1%,-1%);
margin:1.5vh;
width:77vw;
height:110vh;
position:fixed;
z-index:-3;
}

#robotcanvas{
transform:translate(-1%,-1%);
margin:1.5vh;
width:77vw;
height:97vh;
position:fixed;
z-index:-2;
}

#controldiv{
width:100vw;
padding-left:37vw;
padding-top:40vh;
display:flex;
justify-content:center;
position:fixed;
z-index:0;
}

#right,
#left {
  height:var(--doublesize);
  width: var(--size);
  margin:0;
  padding:0;
  z-index:0;
  background-color:#9B8D8F;
  box-shadow: 5px 10px 18px black;

}

#left{
border:solid;
}
#right{
  border-right:solid;
  border-bottom:solid;
  border-top:solid;
}
#centrecircle{
  position:fixed;
  border-radius:50%;
  background-color:#9B8D8F;
  z-index:1;
  margin-top:5vh;
  width:30vh;
  height:30vh;
  border:solid;
  overflow:hidden;
}

#centrecircletop{
  display:flex;
  z-index:1;
}
#centrecirclemiddle{
  display:flex;
  z-index:1;
}
#centrecirclebottom{
  display:flex;
  z-index:1;
}
#topleft{
  width:10vh;
  height:10vh;
  border-bottom:solid;
  border-right:solid;
  z-index:1;
  display:flex;
  justify-content:center;
  align-items:center;
}
#topmiddle{
  width:10vh;
  height:10vh;
  border-bottom:solid;
  border-right:solid;
  z-index:1;
  display:flex;
  justify-content:center;
  align-items:center;
}
#topright{
  width:10vh;
  height:10vh;
  border-bottom:solid;
  z-index:1;
  display:flex;
  justify-content:center;
  align-items:center;
}
#middleleft{
  width:10vh;
  height:10vh;
  border-right:solid;
  border-bottom:solid;
  z-index:1;
  display:flex;
  justify-content:center;
  align-items:center;
}
#middlemiddle{
  width:10vh;
  height:10vh;
  border-right:solid;
  border-bottom:solid;
  z-index:1;
  display:flex;
  justify-content:center;
  align-items:center;
}
#middleright{
  width:10vh;
  height:10vh;
  border-bottom:solid;
  z-index:1;
  display:flex;
  justify-content:center;
  align-items:center;
}
#bottomleft{
  width:10vh;
  height:10vh;
  border-right:solid;
  z-index:1;
  display:flex;
  justify-content:center;
  align-items:center;
}
#bottommiddle{
  width:10vh;
  height:10vh;
  border-right:solid;
  z-index:1;
  display:flex;
  justify-content:center;
  align-items:center;
}
#bottomright{
  width:10vh;
  height:10vh;
  z-index:1;
  display:flex;
  justify-content:center;
  align-items:center;
}

#centrecircletop{
  display:flex;
  z-index:1;
}
#centrecirclebottom{
  display:flex;
  z-index:1;
}
#controldiv img{
max-width: 30%;
max-height: 30%;
}
#left>img{
  transform:translateY(18vh)translateX(-0.5vh);
}
#right>img{
  transform:translateY(18vh)translateX(14.5vh);
}

#centrecircle img{
max-width: 50%;
max-height: 50%;
}

#topleft img{
  transform: rotate(-45deg) translateY(50%);
}
#topright img{
  transform: rotate(45deg) translateY(50%);
}
#bottomleft img{
  transform: rotate(-45deg) translateX(50%);
}
#bottomright img{
  transform: rotate(45deg) translateX(-50%);
}

#topleft:hover{background-color:#685F60;}
#topmiddle:hover{background-color:#685F60;}
#topright:hover{background-color:#685F60;}
#bottomleft:hover{background-color:#685F60;}
#bottommiddle:hover{background-color:#685F60;}
#bottomright:hover{background-color:#685F60;}
#middleleft:hover{background-color:#685F60;}
#middleright:hover{background-color:#685F60;}

#middleleft:active{background-color:#433835;}
#middleright:active{background-color:#433835;}
#topleft:active{background-color:#433835;}
#topmiddle:active{background-color:#433835;}
#topright:active{background-color:#433835;}
#bottomleft:active{background-color:#433835;}
#bottommiddle:active{background-color:#433835;}
#bottomright:active{background-color:#433835;}

#right {
  border-bottom-right-radius:var(--doublesize);
  border-top-right-radius:var(--doublesize);
}

#left {
  border-bottom-left-radius:var(--doublesize);
  border-top-left-radius:var(--doublesize);
}
#right:hover{
background-color:#685F60;
}
#left:hover{
background-color:#685F60;
}
#right:active{
background-color:#433835;
}
#left:active{
background-color:#433835;
}
.slidecontainer {
  width: 20vw;
  padding-top:30vh;
  margin-left:77vw;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

#detectObjects{
  position:fixed;
  z-index:3;
  box-shadow: 2px 2px 2px black;
  border-radius:10%;
  background-color:#9B8D8F;
  margin-left:77vw;
  margin-top:3vh;
}
#detectObjects:hover{
background-color:#685F60;
}
#detectObjects:active{
box-shadow: 0px 0px 0px black;
transform:translate(2px,2px);
background-color:#433835;
}
